body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


/*.wrapper > div {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    */
/*}*/
#som {
    padding: 10px 20px;
}
#usd {
    margin-top: 20px;
    padding: 10px 20px;
}
